body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: fit-content;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5%;
    padding: 96px;
    flex-grow: 1;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 96px;
    background-color: var(--secondary-color);
    height: 50px;
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    font-size: 1rem;
    color: var(--primary-color);
}

.filters-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

#status-select {
    font-size: 1rem;
    color: var(--primary-color);
}

.label-container {
    display: flex;
    gap: 24px;
}

.status {
    display: flex;
    gap: 8px;
}

.label-square {
    width: 20px;
    height: 20px;
    display: block;
    box-shadow: 0px 0px 8px 0px #00000080;
}

.blue {
    background-color: var(--primary-color);
}

.yellow {
    background-color: var(--terciary-color);
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 50px;
}

.title {
    font-size: 4rem;
    color: var(--primary-color);
    font-weight: 500;
    text-align: center;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 64px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 200px;
    height: 300px;
    padding: 12px;
}

.student-photo {
    width: 100%;
    height: 176px;
    border-radius: 50%;
}

.student-name {
    text-align: center;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}