header {
    background-color: var(--primary-color);
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 96px;
    color: #fff;
}

footer {
    background-color: var(--primary-color);
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 96px;
    color: #fff;
}

.exit-button {
    font-size: 2em;
    transition: all 400ms ease-in-out;
}

.exit-button:hover {
    transform: scale(1.1);
}

.footer-info-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 12px;
}

.footer-info-container i {
    font-size: 1.3rem;
}

.info {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border: 2px solid #fff;
    font-size: 1.2rem;
    transition: all 400ms ease-in-out;
}

.icon:hover {
    transform: scale(1.1);
    background-color: #fff;
    color: #101010;
}

@media (max-width: 1000px) {
    header {
        padding: 0 12px;
    }

    footer {
        padding: 0 12px;
        /* position: fixed; */
        bottom: 0;
        box-shadow: 0 -4px 5px #0005;
    }

    .footer-info-container i {
        font-size: 1.1rem;
    }

    .info {
        font-size: 0.5rem;
    }

    .copyright-tag {
        display: none;
    }

    .social-icons-container {
        gap: 8px;
    }

    .icon {
        height: 36px;
        width: 36px;
        font-size: 1.1rem;
    }
}